dialog {
    /* border: 2px solid rgb(80, 140, 230);
    border-radius: 5px;
    padding: 0.5em; */
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

dialog h2,
dialog p {
    color: #fff;
}

dialog h2 {
    margin: 0.3em;
}

dialog button {
    background-color: #777;
    color: #fff;
}

dialog button:hover {
    background-color: #999;
}

dialog form p {
    margin: 0.5em;
}

dialog>form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

dialog>form>div,
dialog>form>div * {
    margin: 0;
    padding: 0;
}

dialog>form>div {
    display: flex;
    align-items: center;
}

dialog>form>div>label {
    display: inline-block;
    text-align: center;
}

dialog>form>div>input:not([type="radio"]),
dialog>form>div>textarea,
dialog>form>div>div {
    min-width: 28em;
}

dialog>form>div>textarea[name="private-key-text"] {
    min-height: 10em;
}

dialog>form>div>textarea[name="description"] {
    min-height: 3em;
}

dialog input::-webkit-outer-spin-button,
dialog input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

dialog>form input[type="file"] {
    display: none;
}

dialog>form>p>span {
    display: inline-table;
    overflow-x: scroll;
}

dialog .label {
    font-weight: bold;
    margin-right: 5px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
}