dialog {
    background: #010409;
    color: #fff;
    border: 2px solid #56616d;
    border-radius: 3px;
    padding: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

dialog h2,
dialog p {
    color: #fff;
}

dialog h2 {
    margin: 0.3em;
}

dialog form p {
    margin: 0.5em;
}

input:not([type="radio"]),
textarea {
    background-color: #b1bac439;
    color: #fff;
    border: none;
    padding-left: 0.5em;
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 2px;
    box-sizing: border-box;
}

textarea {
    margin-bottom: 1em;
}

label {
    padding-left: 0.5em;
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

dialog>form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

dialog>form>div,
dialog>form>div *:not(button):not(label):not(textarea) {
    margin: 0;
    padding: 0;
}

dialog>form>div {
    display: flex;
    align-items: center;
}

dialog>form>div>label {
    display: inline-block;
    text-align: center;
    padding-right: 0.3em;
}

dialog>form>div>input:not([type="radio"]),
dialog>form>div>textarea,
dialog>form>div>div {
    min-width: 28em;
}

dialog>form>div>textarea[name="private-key-text"] {
    min-height: 10em;
}

dialog>form>div>textarea[name="description"] {
    min-height: 3em;
}

dialog input::-webkit-outer-spin-button,
dialog input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

dialog>form input[type="file"] {
    display: none;
}

dialog>form>p>span {
    display: inline-table;
    overflow-x: scroll;
    scrollbar-color: #3e4c60 #010409;
    scrollbar-width: thin;
}

dialog .label {
    font-weight: bold;
    margin-right: 5px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
}