dialog {
    border: 2px solid rgb(80, 140, 230);
    border-radius: 5px;
    padding: 0.5em;
}

dialog>h2 {
    margin: 0.3em;
}

dialog>form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

dialog>form>p,
dialog>form>p * {
    margin: 0;
    padding: 0;
}

dialog>form>p>label {
    display: inline-block;
    text-align: center;
}

dialog>form>p>input:not([type="radio"]),
dialog>form>p>textarea,
dialog>form>p>span {
    min-width: 22em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

dialog>form>p>span {
    display: inline-table;
    overflow-x: scroll;
}

dialog .label {
    font-weight: bold;
    margin-right: 5px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
}