#order-container {
    position: absolute;
    display: none;
    width: calc(100% - 1em);
    height: calc(100% - 4em);
    z-index: 100;
}

#order-lists {
    height: calc(100vh - 5.1em);
    overflow-y: auto;
    scrollbar-color: #3e4c60 #010409;
    scrollbar-width: thin;
}

#order-buttons {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.item {
    padding: 0.3em;
    background-color: #010409;
    cursor: pointer;
}

.item:hover {
    background-color: #1a1632;
}

.sub-item {
    padding: 0.3em;
    margin-left: 2em;
}

.sub-item:hover {
    background-color: #201a44;
}
