#hosts-data-container {
    overflow-y: scroll;
    height: calc(100% - 40px);
}

.categories {
    list-style: none;
    padding-left: 20px;
}

.category {
    position: relative;
    margin-bottom: 5px;
}

.category:before {
    content: "▶";
    position: absolute;
    left: -15px;
    top: 2px;
    cursor: pointer;
}

.category.active:before {
    content: "▼";
}

.category.active .host-part-info {
    display: flex;
}

.host-part-info {
    display: none;
}

.category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.category ul:hover {
    background-color: gainsboro;
}

.category li {
    list-style: none;
    display: inline-flex;
    margin-right: 20px;

    min-width: 15em;
}

.category li.part-name {
    min-width: 13em;
}

.category li.part-address {
    min-width: 14em;
}

.category li.part-port {
    min-width: 4em;
}