#hosts-data-container {
    height: calc(100% - 40px);
    overflow-y: scroll;
    scrollbar-color: #3e4c60 #010409;
    scrollbar-width: thin;
}

.categories {
    list-style: none;
    padding-left: 20px;
}

.category {
    position: relative;
    margin-bottom: 1em;
    min-height: 2em;
}

.category:hover {
    background-color: #161b22;
}

.category:before {
    content: "▶";
    position: absolute;
    left: -1.1em;
    top: -0.1em;
    cursor: pointer;
}

.category.active:before {
    content: "▼";
}

.category.active .host-part-info {
    display: flex;
}

.host-part-info {
    display: none;
}

.category>span.buttons {
    position: absolute;
    right: 1em;
}

.category ul {
    list-style-type: none;
    padding: 0.3em;
    margin: 0.3em;
    border: 0.1em solid rgba(132, 141, 151, 0);
    border-radius: 3px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.category ul:hover {
    border-color: #56616d;
}

.category li {
    list-style: none;
    min-width: 15em;
}

.category li.part-name {
    min-width: 13em;
}

.category li.part-address {
    min-width: 14em;
}

.category li.part-port {
    min-width: 4em;
}