html {
    padding: 0.25em;
    margin: 0.25em;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(100vh - 16px);
    background-color: #010409;
    color: #848d97;
    font-size: 0.9em;
}

input:focus-visible,
textarea:focus-visible {
    outline: 0.2em solid darkorange;
}

button {
    border: 2px solid #56616d;
    border-radius: 0.2em;
    background: #010409;
    color: #fff;
    padding: 4px 8px;
}

button:hover {
    cursor: pointer;
    background-color: #b1bac439;
}

span.button-section-divider {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

hr {
    width: 100%;
}